#app {
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
}
